language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_script:
  - travis_retry composer update --prefer-source --no-interaction

script:
  - vendor/bin/phpspec run --config=phpspec.yml --no-interaction
  - vendor/bin/phpunit
